[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
numpy = "*"
scipy = "*"
scikit-rf = "*"
matplotlib = "*"
plotly = "*"
openpyxl = "*"
polars = "*"
pyinstaller = "*"
pyqt6-webengine = "*"
dash = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.13"
